.App {
  text-align: center;

  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Cards img, .Deck img {
  /* width: 50% */
}

.Cards {
  flex-basis: 40%;
  text-align: left;
}

.Deck {
  flex-basis: 40%;
  position: relative;
  text-align: right;
  padding-right: 2.4em;
  padding-bottom: 2.4em;
}
.Deck img + img {
  position: absolute;
  top: 0.8em;
  left: 0.8em;
}
.Deck img + img + img {
  position: absolute;
  top: 1.6em;
  left: 1.6em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
